<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Expenses</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h2>My Expenses</h2>

    <!-- Action Buttons -->
    <div class="actions">
        <a th:href="@{/expenses/add}" class="btn btn-primary btn-small">+ Add Expense</a>
        <a th:href="@{/expenses/export/csv}" class="btn btn-secondary btn-small">Export CSV</a>
        <a th:href="@{/expenses/export/pdf}" class="btn btn-secondary btn-small">Export PDF</a>
        <a th:href="@{/expenses/trash}" class="btn btn-secondary btn-small">View Trash</a>
    </div>

    <!-- Table -->
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="e : ${expenses}">
            <td th:text="${e.title}">Title</td>
            <td th:text="${e.category}">Category</td>
            <td>₹ <span th:text="${e.amount}">0</span></td>
            <td th:text="${e.date}">2025-01-01</td>

            <td>
                <a th:href="@{/expenses/soft-delete/{id}(id=${e.id})}"
                   class="btn-danger btn-small">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>