
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Expense Tracker</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

  <div th:replace="fragments/header :: header"></div>
  <div class="container hero">
      <h1>Welcome to Expense Tracker</h1>
      <p>Track and manage your daily expenses easily.</p>

      <a th:href="@{/register}" class="btn btn-primary">Get Started</a>
      <a th:href="@{/register}" class="btn btn-secondary">Register</a>
  </div>
</body>
</html>
